<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Class- 9 (Factnotes-Online notes)</title>
 <link rel="icon" href="circle.png" type="image/icon type">
 <link rel="stylesheet" type="text/css" href="index.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script data-ad-client="ca-pub-3763691430938845" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="intro">
	<div class="loader_img">
		<img src="circle.png">
		<div class='loader'>
  <div class="bg"></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
</div>
	</div>
</div>


<!------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="circle.png" class="nav_img"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;font-family: 'Anton', sans-serif;">Factanotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="welcome">
	<img src="circle.png">

<h1 style="text-align: center; position: relative;top: 15vh; ">
  <a href="" class="typewrite" style="text-align: center;color: black;text-decoration: none;" data-period="2000" data-type='[ "Hi, I am dilkush rajpurohit", "I am Creator. of Factanotes", "All notes are avilable .", "If you like it please Share." ]'>
    <span class="wrap"></span>
  </a>
</h1>
<button type="button" class="btn btn-danger" style="position:relative;top: 14vh;left: 30%;" onclick="alert('Something Amazing feature coming soon.....')">Connect to Friends</button>
</div>

<div class="start" style="position: relative;left: 1%;">
	<h1>Welcome to Factanotes Free world of notes:)</h1>
	<h3>If you are in class 9<sup>th</sup> or class<sup>th</sup> mainly Belongs to st.john school they hurry up here are notes available we know that due to corona pandemic their is lot's of school which became a great stuck in the path of studies but i go throw that their is a lot of promblem for teacher also in distributing notes . and students are facing a great struck but don't worry no more struck because . I have created a wonderful website or application for my all brothers and sisters so that they can be able to get more and more notes as simple as possible . Really in making of this their is a great mindeset and psp(promblem solving ) . During classes or online classes my friends both who are average or good in studies they are not able to get notes if sometimes they get from online website they are not fully sure that is it right ? or is it ok </h3>
	<hr color="orange" size="20px">
</div>
<div class="class10">
	<h1>Free notes of class 9 st.john's school--></h1>

	<h3>Class-X English notes free</h3>
	<ul>
	<li><a href="https://drive.google.com/file/d/1MaaWZS-3C8lgRwwr5fTnFmaDIK4_vS4k/view?usp=sharing">A little girl</a></li>
    <li><a href="https://drive.google.com/file/d/1MlsTRvLAxUlAbqzmFf9T-Vfbuicgia0y/view?usp=sharing">The Fun they had</a></li>
  <li><a href="https://drive.google.com/file/d/1M3b8KKGqDOnSTKYBCiKiC8ijAY6EvWps/view?usp=sharing">The happy Prince</a></li>
  <li><a href="https://drive.google.com/file/d/1MNX8YwUPP1eUA5MaGAuSyZrGs2urgAh1/view?usp=sharing">Rain on roof</a></li>
 <li><a href="https://drive.google.com/file/d/1MV-I9nsgHQV1hyUhohM829HSWDR2PCg9/view?usp=sharing">My childhood</a></li>
  <li><a href="https://drive.google.com/file/d/1MALajT0t4i7ZpTB_PrSFJLQHZ1C4rr-n/view?usp=sharing">Legend in northland</a></li>
  <li><a href="https://drive.google.com/file/d/1M2aCwYAUDdsDSqOQNUVRBP9mEUzynYAY/view?usp=sharing">In the kingdom of fools</a></li>
 <li><a href="https://drive.google.com/file/d/1McGrNI2u0RvPeAlwYe9l5NooKgLSL3zH/view?usp=sharing">sound of music</a></li>
  <li><a href="https://drive.google.com/file/d/1MuJpnANOidVpKWBoPJP5hBIskWX8FL1E/view?usp=sharing">wind</a></li>
   <li><a href="https://drive.google.com/file/d/1MusG0re0vywdFsPQdiIjsz0Ia8rRpA9g/view?usp=sharing">the lost child</a></li>
    <li><a href="https://drive.google.com/file/d/1M9KvkYrFMpPEn81wm_3OAwneYpQ1lM_G/view?usp=sharing">A truly beautiful mind</a></li>
    <li><a href="https://drive.google.com/file/d/1McNWlyTDHYXP7aWuB2PyRU5Ro47oltoP/view?usp=sharing">The adventure of toto</a></li>
	</ul>
	
</div>
<div class="channels">
	<h2>Most important youtube channels of Teachers:)</h2>
	<ul>
		<li><h4>Mam Mrs. Sudha chakraborti <a href="https://youtu.be/aB9Y9Iwrsss"><button type="button" class="btn btn-primary">Click here to visit</button></a></h4></li>
			<li><h4>Sir Mr. Imran Ahmed <a href="https://youtu.be/BQLdziILzKw"><button type="button" class="btn btn-primary">Click here to visit</button></a></h4></li>
				<li><h4>Sir Mr. Ramesh  <a href="https://youtu.be/r7vgzbigB5c"><button type="button" class="btn btn-primary">Click here to visit</button></a></h4></li>

	</ul>
</div>
<!----------- page loading jAVASCRIPT-->
<script>
document.onreadystatechange = function() {
    if (document.readyState !== "complete") {
        document.querySelector("body").style.visibility = "hidden";
        document.querySelector(".intro").style.visibility = "visible";
    } else {
        document.querySelector(".intro").style.display = "none";
        document.querySelector("body").style.visibility = "visible";
    }
};
var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };

</script>
<script src="//code.tidio.co/qwkjm9njfjujfduldinztaptyjgt5mdv.js" async></script>
<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "carrom", // make sure the id is yours

    behaviour: {
      // HIGHLY RECOMMENDED
      //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
    },

    // configure your variables here

  }

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_graphlogin(__semio__params)
  }


  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
  


</script>
<footer><p style="color:white;text-align: center;">© Copyright Factanote INC 2021 All <a href="#">Rights reserved</a></p></footer>

</body>
</html>