@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.intro{
	height: 100vh;
	width: 100%;
	background-color: #141313;
}
.loader_img img{
	height: 30vh;
	width: auto;
	position: relative;
	display: flex;
	vertical-align: middle;
	top: 30vh;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.loader {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
  margin: auto;
}
.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}
.loader .circle:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #fff;

}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
.loader .bg {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 13px;

  animation: bgg 16087ms ease-in alternate infinite;
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
.nav_img{
	height: 7vh;
	width: auto;
}
.welcome{
	height: 60vh;
	width: 100%;
	background-color: #f1f1f1;
}
.welcome img{
	height: 30vh;
	width: auto;
	display: flex;
	position: relative;
	align-items: center;
	margin: auto;
	top: 10vh;
}
.channels ul li{
  background-color: #f1f1f1;
}
footer{
  background-color: black;
  width: 100%;
  height: 10vh;
}
#modal{
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  width: 40%;
  border: 3px solid red;
  top: 40vh;
display: none;
}

.social_network{

 position: fixed;
  left: 0%;
  height: 25vh;
  width: 11.5%;

  background-color: #f1f1f1;
  z-index: 1.9px;
  border-radius: 10px;
}
.social_network section{
height: 8vh;
    width: 100%;
   
    margin-top: 0.5vh;
}
.social_network section img{
  height: 6.5vh;
  width: 100%;
}
.navdonate{
  height: 10vh;
  width: 100%;
background-color: #9e8fb2;
background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
}









.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}


.faq{
  background-color: #f1f1f1;
  width: 80%;
  position: relative;
  left: 10%;
  top: 25vh;
}
.faq ul li{
  width: 100%;
  background-color: #f1f1f1;
  height: 10vh;
  border-bottom: 1px solid grey;
  list-style: none;
  position: relative;
  left: -5%;
}
body{
  overflow-x: hidden;
}
.faq ul li p{
  display: none;
}
.faq ul li h4{
  position: relative;
  top: 2vh;
  left: 5%;
}
.exam ul li img{
  position: relative;
  top: 3vh;
  left: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}


 .Careers {
     cursor: pointer;
     color: #1E88E5
 }

 .row-1 {
     background-color: #1E242A !important
 }

 .row-2 {
     background-color: #28323C !important
 }
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}