<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>create</title>
</head>
<body>
	<form  method="post" action="/input">
<input type="text" name="n1" placeholder="title">
<input type="text" name="n2" placeholder="discription">
<input type="text" name="n3" placeholder="imglink1">
<input type="text" name="n4" placeholder="youtube">
<input type="text" name="n5"placeholder="n1">
<input type="text" name="n6" placeholder="n2">
<input type="text" name="n7" placeholder="n3">
<input type="text" name="n8" placeholder="n4">
<input type="text" name="n9" placeholder="n5">
<input type="text" name="n10"placeholder="l1">
<input type="text" name="n11" placeholder="l2">
<input type="text" name="n12" placeholder="l3">
<input type="text" name="n13" placeholder="l4">
<input type="text" name="n14" placeholder="l5">
<input type="text" name="n15" placeholder="imglink1">
<input type="text" name="n16" placeholder="imglink2">
<input type="text" name="n17" placeholder="external title1">
<input type="text" name="n18" placeholder="external">
<input type="text" name="n19" placeholder="external title 2">
<input type="text" name="n20" placeholder="external2">
<input type="text" name="n21" placeholder="external title 3">
<input type="text" name="external3" placeholder="external3">
<input type="text" name="n22" placeholder="external title 4">
<input type="text" name="external4" placeholder="external4">
<input type="date" name="d1">
<textarea cols="10" rows="50" placeholder="description main" name="desc"></textarea>
<input type="submit">
</form>
</body>
</html>